{% extends "votes/base.html" %}
{% block content %}
    <div class="votes-wrapper">
        <h1 class="votes-heading">Votes</h1>
        {% if latest_question_list %}
            <ul class="latest-question-list">
                {% for question in latest_question_list %}
                    <li>
                        <a href="{% url 'votes:index' question.id %}">{{ question.question_text }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No votes available.</p>
        {% endif %}
    </div>
{% endblock content %}
