{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="This is a Django Home Page reusable app for Django applications consisting of reusable apps in need of a home page.">
        <meta name="keywords"
              content="Django, Python, reusable apps, home page app">
        <title>
            {% block title %}
                Django Home Page App
            {% endblock title %}
        </title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
        {% endblock stylesheet %}
    </head>
    <body>
        {% block body %}
            <div class="grid-container">
                {% include "includes/header-pages.html" %}
                {% block content %}
                {% endblock content %}
            </div>
            {% include "includes/pages-footer.html" %}
        {% endblock body %}
    </body>
</html>
